<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>One Country A Day</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
<h1>One country a day</h1>
{% if countries %}
    <table>
	    <tr>
		    <th>Name</th>
		    <th>ISO 3166-1 alpha 2</th>
		    <th>ISO 3166-1 alpha 3</th>
	    </tr>
    {% for country in countries %}
	    <tr>
		    <td><a href="/one-country-a-day/{{ country.id }}/">{{ country.name }}</a></td>
		    <td>{{ country.alpha_2 }}</td>
		    <td>{{ country.alpha_3 }}</td>
	    </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</body>
</html>
